.error-form{
    color:red;
}

.note{
    color:grey;
}

.summary{
    height:100%;
    padding:5px 5px 5px 5px;
    color:grey;
}

.summary h5{
    font-weight: bold;
}

img.preview {
    width: 200px;
    background-color: white;
    border: 1px solid #DDD;
    padding: 5px;
}

.badge-warning{
    width:150px;
    background-color:yellow;
    padding:2px 3px 2px 3px;
    border-radius:20px;
    text-align:center;
    font-weight:bold;
}

.badge-button-warning{
    background-color:#f5bd00;
    padding:2px 6px 2px 6px;
    border-radius:5px;
    text-align:center;
}

.badge-button-green{
    background-color:#28a745;
    padding:2px 6px 2px 6px;
    border-radius:5px;
    text-align:center;
}

.badge-button-blue{
    background-color:#0029af;
    padding:2px 6px 2px 6px;
    border-radius:5px;
    text-align:center;
}
