<template>
    <div>
        <div class="container margin_custom">
			<div class="row">
				<div class="col-lg-8 add_bottom_15">

					<div class="form_title">
						<h3><strong><i class="icon-ok"></i></strong>Terima Kasih!</h3>
					</div>
					<div class="step">
						<p>
							Pesanan kamu akan segera kami proses, dan jika pengiriman menggunakan ekspedisi, kami akan segera menghitung biaya pengiriman, beserta jumlah total yang harus kamu bayar.<br><br>

							Silahkan simpan kode transaksi yang tertera pada ringkasan pesanan, dan gunakan untuk mencari pesanan anda di menu Konfirmasi Pembayaran.<br><br>
							
							Kode Transaksi juga digunakan untuk mengetahui status proses transaksi, jumlah yang harus dibayar dan melakukan konfirmasi pembayaran.
						</p>
					</div>
					<!--End step -->

					<div class="form_title">
						<h3><strong><i class="icon-tag-1"></i></strong>Ringkasan Pesanan</h3>
					</div>
					<div class="step" v-if="confirmation_transaction_status">
						<table class="table table-striped confirm">
							<tbody>
								<tr>
									<td>
										<strong>Kode Transaksi: </strong>
									</td>
									<td>
										{{ confirmation_transaction.transaction_code }}
									</td>
								</tr>
								<tr>
									<td>
										<strong>Tanggal Transaksi: </strong>
									</td>
									<td>
										{{ confirmation_transaction.created_at | moment('D MMMM Y hh:mm:ss') }}
									</td>
								</tr>
								<tr>
									<td>
										<strong>Nama: </strong>
									</td>
									<td>
										{{ confirmation_transaction.firstname }} 
										{{confirmation_transaction.lastname }}
									</td>
								</tr>
								<tr>
									<td>
										<strong>Telepon: </strong>
									</td>
									<td>
										{{ confirmation_transaction.phone }}
									</td>
								</tr>
								<tr>
									<td>
										<strong>Email: </strong>
									</td>
									<td>
										{{ confirmation_transaction.email }}
									</td>
								</tr>
								<tr>
									<td>
										<strong>Total Pesanan: </strong>
									</td>
									<td>
										{{ confirmation_transaction.grand_total_format }}
									</td>
								</tr>
								<tr>
									<td>
										<strong>Metode Pengiriman: </strong>
									</td>
									<td>
										{{ (confirmation_transaction.shipping_method)?confirmation_transaction.shipping_method.name:"" }}
									</td>
								</tr>
								<tr>
									<td>
										<strong>Alamat: </strong>
									</td>
									<td>
										{{ 
											confirmation_transaction.address
										}}, 
										{{ 
											(confirmation_transaction.country)?confirmation_transaction.country.name:''
										}}, 
										{{
											(confirmation_transaction.province)?confirmation_transaction.province.name:''
										}}, 
										{{ 
											(confirmation_transaction.regency)?confirmation_transaction.regency.name:''
										 }}, 
										{{
											(confirmation_transaction.district)?confirmation_transaction.district.name:''
										}}, 
										{{
											(confirmation_transaction.sub_district)?confirmation_transaction.sub_district.name:''
										}}, 
										{{
											confirmation_transaction.postalcode
										}}
										
									</td>
								</tr>
								
							</tbody>
						</table>
					</div>
					<!--End step -->
				</div>
				<!--End col -->

				<aside class="col-lg-4">
					<div class="box_style_4">
						<i class="icon_set_1_icon-89"></i>
						<h4>Have <span>questions?</span></h4>
						<a href="tel://004542344599" class="phone">+45 423 445 99</a>
						<small>Monday to Friday 9.00am - 7.30pm</small>
					</div>
				</aside>

			</div>
			<!--End row -->
		</div>
    </div>
    
</template>
<script>
import { mapState } from "vuex";
export default {
	name:"confirmationCheckout",
	computed: { ...mapState(["confirmation_transaction_status", "confirmation_transaction"]) },
    components:{
    },
    created(){
    },
    data(){
        return{
        };
    },
    methods:{
        
    }

}
</script>

