<template>
    <div>
        <direction-contact></direction-contact>
        <position-contact></position-contact>
        <form-contact></form-contact>
    </div>
</template>
<script>
import MapContact from '../components/contacts/MapContact'
import DirectionContact from '../components/contacts/DirectionContact'
import PositionContact from '../components/contacts/PositionContact'
import FormContact from '../components/contacts/FormContact'

export default {
    components:{
        'MapContact': MapContact,
        'DirectionContact': DirectionContact,
        'PositionContact': PositionContact,
        'FormContact':FormContact
    },
    data() {
      return {
        users: []
      }
    },
    created(){
        this.fetchSomething();
    },
    methods: {
        async fetchSomething() {
            axios.get('api/users', { progress: false })
            .then(response => {
                this.users = response;
            })
            .catch(error => {
                console.log(error);
            })
        }
    }
}
</script>