<template>
    <div>
      <carousel></carousel>
    </div>

</template>
<script>
import Carousel from '../components/home/Carousel'
export default {
    name:"indexPage",
    components:{
        'Carousel': Carousel
    },
}
</script>