<template>
    <div>
        <main-content></main-content>
    </div>

</template>
<script>
import MainContent from '../components/home/MainContent'
export default {
    name:"productPage",
    components:{
        MainContent
    },
}
</script>