<template>
    <product-detail @updateCartLists="emitUpdateCartLists" :checkItem="checkItem"
        @emitRemoveItem="emitRemoveItem"></product-detail>
</template>
<script>
import ProductDetail from '../components/home/ProductDetail'
export default {
    name:"productDetailPages",
    props:["checkItem"],
    components:{
        ProductDetail
    },
    methods:{
        emitUpdateCartLists()
		{
			this.$emit("updateCartLists");
        },
        emitRemoveItem(id)
        {
            this.$emit("emitRemoveItem", id);
        }
    }
}
</script>