<template>
    <div class="container margin_custom">
        <div class="row">
            <div class="col-lg-12">
                <div class="billing-details">
                    <div class="shop-form">
                        <form method="post">
                            <div class="default-title">
                                <h2>shoppingCarts</h2>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-2">
                                    <label>Nama Depan <sup>*</sup>
                                    </label>
                                    <input type="text" v-model="shoppingCarts.firstname" placeholder="" class="form-control">
                                    <div class="error-form">{{ errors.get('firstname') }}</div>
                                </div>
                                <div class="form-group col-sm-2">
                                    <label>Nama Belakang
                                    </label>
                                    <input type="text" v-model="shoppingCarts.lastname" value="" placeholder="" class="form-control">
                                    <div class="error-form">{{ errors.get('lastname') }}</div>
                                </div>
                                <div class="form-group col-sm-2">
                                    <label>Jenis Kelamin <sup>*</sup>
                                    </label>
                                    <select v-model="shoppingCarts.gender" class="form-control">
                                        <option value="L">Laki-Laki</option>
                                        <option value="P">Perempuan</option>
                                    </select>
                                    <div class="error-form">{{ errors.get('gender') }}</div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <label>Handphone <sup>*</sup></label>
                                    <input type="text" v-model="shoppingCarts.phone" value="" placeholder="" class="form-control">
                                    <div class="error-form">{{ errors.get('phone') }}</div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <label>Email <sup>*</sup>
                                    </label>
                                    <input type="email" v-model="shoppingCarts.email" value="" placeholder="" class="form-control">
                                    <div class="error-form">{{ errors.get('email') }}</div>
                                </div>
                                
                                <div class="form-group col-sm-3">
                                    <label>Negara <sup>*</sup>
                                    </label>
                                    <select v-model="shoppingCarts.country_id" class="form-control">
                                        <option 
                                        v-for="country in options.countries"
                                        v-bind:key="country.id"
                                        v-bind:value="country.id">{{ country.name }}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-3">
                                    <label>Provinsi <sup>*</sup>
                                    </label>
                                    <select v-model="shoppingCarts.province_id" v-on:change="getRegency" class="form-control">
                                        <option 
                                        v-for="province in options.provinces"
                                        v-bind:key="province.id"
                                        v-bind:value="province.id">{{ province.name }}
                                        </option>
                                    </select>
                                    <div class="error-form">{{ errors.get('province_id') }}</div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <label>Kota <sup>*</sup>
                                    </label>
                                    <select v-model="shoppingCarts.regency_id" v-on:change="getDistrict" class="form-control">
                                        <option 
                                        v-for="regency in options.regencies"
                                        v-bind:key="regency.id"
                                        v-bind:value="regency.id">{{ regency.name }}
                                        </option>
                                    </select>
                                    <div class="error-form">{{ errors.get('regency_id') }}</div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <label>Kecamatan <sup>*</sup>
                                    </label>
                                    <select v-model="shoppingCarts.district_id" v-on:change="getSubDistrict" class="form-control">
                                        <option 
                                        v-for="district in options.districts"
                                        v-bind:key="district.id"
                                        v-bind:value="district.id">{{ district.name }}
                                        </option>
                                    </select>
                                    <div class="error-form">{{ errors.get('district_id') }}</div>
                                </div>
                                <div class="form-group col-sm-2">
                                    <label>Kelurahan <sup>*</sup>
                                    </label>
                                    <select v-model="shoppingCarts.sub_district_id" class="form-control">
                                        <option 
                                        v-for="subDistrict in options.subDistricts"
                                        v-bind:key="subDistrict.id"
                                        v-bind:value="subDistrict.id">{{ subDistrict.name }}
                                        </option>
                                    </select>
                                    <div class="error-form">{{ errors.get('sub_district_id') }}</div>
                                </div>
                                <div class="form-group col-sm-2">
                                    <label>Kode Pos <sup>*</sup></label>
                                    <input type="text" v-model="shoppingCarts.postalcode" value="" placeholder="50110" class="form-control">
                                    <div class="error-form">{{ errors.get('postalcode') }}</div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>Alamat Lengkap <sup>*</sup>
                                    </label>
                                    <input type="email" v-model="shoppingCarts.address" value="" placeholder="" class="form-control">
                                    <div class="error-form">{{ errors.get('address') }}</div>
                                </div>
                                <div class="form-group col-sm-2">
                                    <label>Metode Pengiriman <sup>*</sup>
                                    </label>
                                    <select v-model="shoppingCarts.shipping_method_id" class="form-control">
                                        <option 
                                        v-for="shippingMethod in options.shippingMethods"
                                        v-bind:key="shippingMethod.id"
                                        v-bind:value="shippingMethod.id">{{ shippingMethod.name }}
                                        </option>
                                    </select>
                                    <div class="error-form">{{ errors.get('shipping_method_id') }}</div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--End Billing Details-->
            </div>
            <!--End Col-->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="default-title">
                    <h2>Detail Belanja</h2>
                </div>
                <div class="cart-section">
                    <table class="table table-striped cart-list shopping-cart">
                        <thead>
                            <tr>
                                <th>
                                    Produk
                                </th>
                                <th>
                                    Detail
                                </th>
                                <th>
                                    Harga
                                </th>
                                <th>
                                    Jumlah
                                </th>
                                <th>
                                    Total
                                </th>
                                <th>
                                    
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in cartLists" v-bind:key="item.id">
                                <td>
                                    <div class="thumb_cart">
                                        <a href="#"><img :src="item.image" alt="">
                                        </a>
                                    </div>
                                    <strong  class="item_cart">
                                        <a href="#">
                                            <router-link :to="{ name: 'product-detail', params:{id:item.id} }">
                                            {{ item.name }}
                                        </router-link></a>
                                    </strong>
                                </td>
                                <td>
                                    <strong>
                                        {{ item.variant }}
                                    </strong>
                                </td>
                                <td>
                                    <strong>{{ item.price }}</strong>
                                </td>
                                <td>
                                    <strong>{{ item.quantity }}</strong>
                                </td>
                                <td>
                                    <strong>{{ item.total }}</strong>
                                </td>
                                <td class="options">
                                    <a href="#">
                                        <router-link :to="{ name: 'product-detail', params:{id:item.id} }">
                                            <i class=" icon-edit"></i>
                                        </router-link>
                                    </a>
                                    <a href="#" v-on:click="emitRemoveItem(item.id)"><i class=" icon-trash"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="row justify-content-end">
                        <div class="column col-lg-4 col-md-6">
                            <ul class="totals-table">
                                <!-- <li class="clearfix"><span class="col">Sub Total</span><span class="col"></span>
                                </li> -->
                                <li class="clearfix total"><span class="col">Order Total</span><span class="col">{{ subTotal }}</span>
                                </li>
                            </ul>
                            <button :disabled="button" v-on:click="checkout" class="btn_full">
                                <b-spinner v-if="button" variant="success" label="Spinning"></b-spinner>
                                <span v-else>Proceed to Checkout <i class="icon-left"></i></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Errors from "../modules/Errors";
import { remove, destroy } from 'cart-localstorage';
export default {
    name:"shoppingcartPages",
    props:["cartLists", "totalItem", "subTotal"],
    components:{
    },
    created(){
        this.getCountry();
        this.getProvince();
        this.getShippingMethod();
    },
    data(){
        return{
            errors: new Errors(),
            button: false,
            options:{
                countries:{},
                provinces:{},
                regencies:{},
                districts:{},
                subDistricts:{},
                shippingMethods:{}
            },
            shoppingCarts:{
                firstname:"",
                lastname:"",
                gender:"",
                phone:"",
                email:"",
                country_id: 100,
                province_id:"",
                regency_id:"",
                district_id:"",
                sub_district_id:"",
                postalcode:"",
                address:"",
                shipping_method_id:"",
                subTotal: this.subTotal,
                carts: this.cartLists
            }
        };
    },
    methods:{
        getCountry() {
        axios
            .get("countries")
            .then(response => {
            this.options.countries = response.data;
            })
            .catch(function(error) {
            console.log(error);
            });
        },
        getProvince() {
        axios
            .get("provinces")
            .then(response => {
            this.options.provinces = response.data;
            })
            .catch(function(error) {
            console.log(error);
            });
        },
        getRegency() {
        let url = "regencies/" + this.shoppingCarts.province_id;
        axios
            .get(url)
            .then(response => {
            this.options.regencies = response.data;
            })
            .catch(function(error) {
            console.log(error);
            });
        },
        getDistrict() {
        let url = "districts/" + this.shoppingCarts.regency_id;
        axios
            .get(url)
            .then(response => {
            this.options.districts = response.data;
            })
            .catch(function(error) {
            console.log(error);
            });
        },
        getSubDistrict() {
        let url = "subDistricts/" + this.shoppingCarts.district_id;
        axios
            .get(url)
            .then(response => {
            this.options.subDistricts = response.data;
            })
            .catch(function(error) {
            console.log(error);
            });
        },
        getShippingMethod() {
        axios
            .get("shippingMethods")
            .then(response => {
            this.options.shippingMethods = response.data;
            })
            .catch(function(error) {
            console.log(error);
            });
        },
        emitRemoveItem(id)
        {
            this.$emit("emitRemoveItem", id);
        },
        checkout()
        {
            this.button = true;
            axios
                .post("checkout", this.shoppingCarts)
                .then(response => {
                    this.button = false;
                    this.$store.dispatch('setConfirmation', response.data.summaryTransaction);
                    this.$store.dispatch('setConfirmationStatus', false);
                    destroy();
                    this.$emit("emitCartLists");
                    this.$swal({
                        icon: 'success',
                        text: response.data.status,
                    });
                    this.$router.push({ name: "confirmation-checkout" });

                })
                .catch(error => {
                this.errors.record(error.response.data);
                this.button = false;
                this.$swal({
                    icon: 'error',
                    text: 'Pembelian belum berhasil diproses, silahkan periksa kembali data pemesanan!'
                });
            });
        },
    }
}
</script>

