<template>
    <div id="directions">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<form action="http://maps.google.com/maps" method="get" target="_blank">
						<div class="input-group">
							<input type="text" name="saddr" placeholder="Enter your starting point" class="form-control style-2" />
							<input type="hidden" name="daddr" value="New York, NY 11430" />
							<!-- Write here your end point -->
							<span class="input-group-btn">
								<button class="btn" type="submit" value="Get directions" style="margin-left:0;">GET DIRECTIONS</button>
							</span>
						</div>
						<!-- /input-group -->
					</form>
				</div>
			</div>
		</div>
	</div>
</template>
