<template>
    <ul id="top_tools">
        <li>
            <div class="dropdown dropdown-cart">
                <a data-toggle="dropdown" class="cart_bt"><i class="icon_bag_alt"></i><strong v-if="totalItem">{{ totalItem }}</strong></a>
                <ul v-if="totalItem" class="dropdown-menu" id="cart_items">
                    <li v-for="item in cartLists" v-bind:key="item.id">
                        <div class="image"><img :src="item.image" alt="image"></div>
                        <strong>
                            <a href="#">
                                <router-link :to="{ name: 'product-detail', params:{id:item.id} }">
							    {{ item.variant }}
							</router-link></a>
                            {{ item.quantity }}x {{ item.price }} </strong>
                        <a class="action" v-on:click="emitRemoveItem(item.id)"><i class="icon-trash"></i></a>

                    </li>
                    <li>
                        <div>Total: <span>{{ subTotal }}</span></div>
                        <router-link :to="{ name: 'shopping-cart' }" prefetch>
                            <a href="#" class="button_drop">Go to Cart</a>
                        </router-link>
                    </li>
                </ul>
            </div><!-- End dropdown-cart-->
        </li>
    </ul>
</template>
<script>
export default {
    name:"cartDropdown",
    props:["cartLists", "totalItem", "subTotal"],
    data(){
        return{
        };
    },
    created(){
    },
    methods:{
        emitRemoveItem(id)
        {
            this.$emit("emitRemoveItem", id);
        }
    }
}
</script>

