<template>
    <footer class="revealed">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>Butuh bantuan?</h3>
                    <a href="#" id="phone">{{ (configurations.official_phone)?configurations.official_phone:'-' }}</a>
                    <a href="#" id="email_footer">{{ (configurations.official_email)?configurations.official_email:'-' }}</a>
                </div>
                <div class="col-md-4">
                    <h3>Alamat</h3>
                    <a href="#">{{ (configurations.official_address)?configurations.official_address:'-' }}</a>
                </div>
                <div class="col-md-4">
                    <h3>No Rekening</h3>
                    <a href="#" v-html="(configurations.payment_information)?configurations.payment_information:'-'"></a>
                </div>
                
            </div><!-- End row -->
            <div class="row">
                <div class="col-md-12">
                    <div id="social_footer">
                        <p>
                            &copy;{{ configurations.year }}
                            {{ configurations.copyright_label }}
                            {{ (configurations.copyright)?configurations.copyright:'lastri' }}
                        </p>
                    </div>
                </div>
            </div><!-- End row -->
        </div><!-- End container -->
    </footer><!-- End footer -->
</template>
<script>
export default {
    name:"footer",
    props:["configurations"]
}
</script>