<template>
    <div class="accordion_styled" id="accordion">
        <div class="card">
            <div class="card-header">
                <h4>
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne_payment">{{ title }}<i class="indicator icon-minus float-right"></i></a>
                </h4>
            </div>
            <div id="collapseOne_payment" class="collapse" data-parent="#accordion">
                <div class="card-body">
                {{ description }}
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name:"collapse",
    props: ["title", "description"],
    
}
</script>

