<template>
    <div class="container margin_custom">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop-section">

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="results_shop">
                                {{ totalData }} produk ditemukan.
                            </div>
                        </div>
                        <div class="input-group mb-3 col-md-4">
                            <input type="text" v-model="searchProduct" class="form-control" placeholder="Cari nama produk disini..." aria-label="Cari nama produk disini..." aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button v-on:click="getProductBySearch" class="btn btn-outline-secondary" type="button"><i class="icon_set_1_icon-78"></i></button>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <select 
                            v-model="categoryId" 
                            placeholder="Kategori Produk"
                            v-on:change="getProductByCategory"
                            class="form-control"
                            >
                                <option value="" selected="selected">Kategori Produk</option>
                                <option
                                v-for="category in categories"
                                v-bind:key="category.id"
                                v-bind:value="category.id"
                                >{{ category.name }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <!--End Sort By-->

                    <div class="row">

                        <div 
                        class="shop-item col-lg-3 col-md-6 col-sm-6" 
                        v-for="product in products"  v-bind:key="product.id">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image">
                                        <router-link :to="{ name: 'product-detail', params:{id:product.id} }" prefetch>
                                            <img :src="product.first_image_detail" alt="">
                                        </router-link>
                                    </figure>
                                    <div class="item-options clearfix">
                                        <router-link 
                                        :to="{ name: 'product-detail', params:{id:product.id} }" prefetch class="btn_shop">
                                            <span class="icon-eye"></span>
                                            <div class="tool-tip">
                                                View
                                            </div>
                                        </router-link>
                                    </div>
                                </div>
                                <div class="product_description">
                                    <h3><a href="#">{{ product.name }}</a></h3>
                                    <div class="price" v-if="product.discount">
                                        <span class="offer">
                                            {{ product.price_format }}
                                        </span> {{ product.price_after_discount_format }}
                                    </div>
                                    <div class="price" v-else>
                                        {{ product.price_format }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End Shop Item-->
                    </div>
                    <!--End Shop Item-->

                    <hr>
                    <pagination 
                        :data="paginationData" 
                        :align="'right'"
                        :size="'default'"
                        :disabled="true"
                        @pagination-change-page="setPage">
                    </pagination>
                    
                </div>
                <!-- End row -->
            </div>
            <!-- End col -->

        </div>
    </div>
</template>
<script>
// import Carousel from '../components/home/Carousel'
export default {
    name:"products",
    components:{
    },
    data() {
        return {
            products: {},
            paginationData:{},
            paginationPath:"",
            totalData:"",
            categories:{},
            categoryId:"",
            searchProduct:"",
        };
    },
    created() {
        this.getProducts();
        this.getCategories();
    },
    methods:{
        setPage(page) {
            let page_url = this.paginationPath + "?page="+page;
            this.getProducts(page_url);
        },

        getProducts(page_url, type, key) {
        /**api:target-controller: ApiProductController@index */
        if(type){
            page_url = page_url || "product-search/"+type+"/"+key;
        }else{
            page_url = page_url || "products";
        }

        axios
            .get(page_url)
            .then(response => {
                this.products = response.data.products.data;
                this.paginationData = response.data.products;
                this.paginationPath = response.data.products.path;
                this.totalData = response.data.products.total;
            })
            .catch(function(error) {
            console.log(error);
            });
        },
        getCategories()
        {
            axios
                .get("categories")
                .then(response => {
                  this.categories = response.data;
                })
                .catch(function(error) {
                    console.log(error);
            });
        },
        getProductByCategory()
        {
            this.getProducts("", "searchCategory", this.categoryId);
        },
        getProductBySearch()
        {
            console.log(this.searchProduct);
            if(this.searchProduct.length > 0){
                this.getProducts("", "searchProduct", this.searchProduct);
            }
        },
        onSubmit(){
            event.preventDefault();
        }
    }
}
</script>
