<template>
    <div class="container margin_custom">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop-section">
                    <!--End Sort By-->

                    <div class="row">

                        <div class="col-lg-9">

							<div class="product-details">

								<div class="basic-details">
									<div class="row">
										<div class="image-column col-sm-6">
											<figure class="image-box">
												<b-carousel
													id="carousel-1"
													v-model="slide"
													:interval="4000"
													controls
													indicators
													background="#ababab"
													img-width="480"
													img-height="480"
													style="text-shadow: 1px 1px 2px #333;"
													@sliding-start="onSlideStart"
													@sliding-end="onSlideEnd"
													>
													<div v-for="mySlide in this.product.product_detail" v-bind:key="mySlide.id">
														<b-carousel-slide>
														<template v-slot:img>
															<img
															class="d-block img-fluid w-100"
															width="480"
															height="480"
															:src="mySlide.file_url"
															:alt="mySlide.photo_url"
															>
														</template>
														</b-carousel-slide>
													</div>
												</b-carousel>
											</figure>
										</div>
										<div class="info-column col-sm-6">
											<div class="details-header">
												<h2>{{ this.product.name }}</h2>
												<div class="item-price" v-if="discountShow">
													<span class="offer">{{ this.product.price_format }}</span>
													{{ this.product.price_after_discount_format }}
												</div>
												<div class="item-price" v-else>
													{{ this.product.price_format }}
												</div>
											</div>
											<div class="text">
												<p>
													<label for="">Silahkan pilih warna dan varian</label>
													<b-form-group label="" v-slot="{ ariaDescribedby }" v-for="option in this.product.option_product_detail" v-bind:key="option.id">
													<b-form-radio v-model="chooseProduct" :aria-describedby="ariaDescribedby" name="some-radios" :value="option.id">{{ option.text+". Stock: "+option.stock }}</b-form-radio>
													</b-form-group>
												</p>
											</div>
											<div class="other-options">
												<b-input-group>
													<b-input-group-prepend>
														<b-btn variant="outline-info" @click="setValueQtyMin">-</b-btn>
													</b-input-group-prepend>

													<b-form-input type="number" min="0.00" v-model="setQty" placeholder="0" class="col-sm-2"></b-form-input>

													<b-input-group-append>
														<b-btn variant="outline-secondary" @click="setValueQtyPlus">+</b-btn>
													</b-input-group-append>
													<b-input-group-append>
														<span class="mr-3"></span>
													</b-input-group-append>
													<b-input-group-append>
														<button v-if="existCart" type="button" :disabled="buttonCart" class="btn_1" v-on:click="updateProductToCart(chooseProduct)">Update To Cart </button>

														<button v-else type="button" :disabled="buttonCart" class="btn_1" v-on:click="addProductToCart">Add To Cart </button>
													</b-input-group-append>
												</b-input-group>
												
											</div>
											<!--Item Meta-->
											<ul class="item-meta">
												<li>Categories: <a href="#">{{ this.product.category_name }}</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<!--End Basic Details-->

								<collapse :title="'Product Description'" :description="this.product.description"></collapse>
								<!--End product-info-tabs-->

								<div class="related-products">
									<div class="normal-title">
										<h3>Related Products</h3>
									</div>
									<div class="row">
										<div class="shop-item col-lg-4 col-md-6 col-sm-6" 
										v-for="productByCategory in productByCategories" v-bind:key="productByCategory.id">
											<div class="inner-box">
												<div class="image-box">
													<figure class="image">
														<a href="shop-single.html"><img :src="productByCategory.first_image_detail" alt=""></a>
													</figure>
													<div class="item-options clearfix">
														<router-link :to="{ name: 'product-detail', params:{id:productByCategory.id} }" prefetch class="btn_shop">
															<span class="icon-eye"></span>
															<div class="tool-tip">
																View
															</div>
														</router-link>
													</div>
												</div>
												<div class="product_description">
													<h3><a href="#">{{ product.name }}</a></h3>
													<div class="price" v-if="product.discount">
														<span class="offer">
															{{ product.price_format }}
														</span> {{ product.price_after_discount_format }}
													</div>
													<div class="price" v-else>
														{{ product.price_format }}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--End Related products-->
							</div>
							<!--End Product-details-->
						</div>
                    </div>
                    <!--End Shop Item-->
                    
                </div>
                <!-- End row -->
            </div>
            <!-- End col -->

        </div>
    </div>
</template>
<script>
import Collapse from './Collapse';
import { add, update, list, get, exists, total, remove, destroy } from 'cart-localstorage';
export default {
	name:"productDetail",
	props:["checkItem"],
    components:{
		Collapse,
	},
	watch:{
		checkItem: function(){
			this.checkExistItem(parseInt(this.$route.params.id));
		},
		chooseProduct: function()
		{
			if(this.chooseProduct > 0){
				this.buttonCart = false;
			}
		}
	},
	computed:{
		price: function(){
			if(this.discountShow){
				return this.product.price_after_discount;
			}else{
				return this.product.price;
			}
		},
	},
    data() {
        return {
			product: {},
			productByCategories: {},
			discountShow:false,
			discountPrice:"",
			chooseProduct:"",
			setQty:"",
			cart:{
				id:"",
				name:"",
				price: "",
				variant:"",
				image:"",
				total:""
			},
			existCart:false,
			buttonCart:true,
			slide: 0,
			sliding: null,
			totalData:"",
        };
    },
    created() {
		const id = parseInt(this.$route.params.id);
		this.checkExistItem(id);
		
        this.getProductDetail(id);
	},
    methods:{
        getProductDetail(id) {
        /**api:target-controller: ApiProductController@detail */
        axios
            .get("product-detail/"+id)
            .then(response => {
				this.product = response.data.product;
				this.totalData = response.data.product.total;
				if(response.data.product.discount){
					this.discountShow = true;
				}
				this.getRelatedProduct(response.data.product.category_id);
            })
            .catch(function(error) {
            console.log(error);
            });
		},
		getRelatedProduct(id) {
        /**api:target-controller: ApiProductController@detail */
        axios
            .get("product-by-category/"+id)
            .then(response => {
                this.productByCategories = response.data.products;
            })
            .catch(function(error) {
            console.log(error);
            });
		},
		updateProductToCart(id){
			if(this.setQty > 0){
				this.cart.total = this.setQty*this.price;
				update(id, 'quantity', this.setQty);
				update(id, 'total', this.cart.total);
				this.$toasted.success('Your item success updated', {icon:'check'});
			}else{
				this.$emit("emitRemoveItem", id);
			}
			this.checkExistItem(id);
			// console.log(list());
		},
		addProductToCart()
		{	
			let getData = this.product.option_product_detail;
			let findData = getData.filter(product => {
				if(product.id == this.chooseProduct){
					this.cart.variant = product.text;
					this.cart.image = product.image;
				}
			});
			this.cart.id = this.chooseProduct;
			this.cart.name = this.product.name;
			this.cart.price = this.price;
			this.cart.total = this.setQty*this.price;
			if(this.setQty > 0){
				add(this.cart, this.setQty);
				this.$toasted.success('Your item success added to cart', {icon:'check'});
			}

			this.checkExistItem(this.cart.id);
			// console.log(list());
		},
		checkExistItem(id)
		{
			if(exists(id)){
				const item = get(id);
				this.chooseProduct = item.id;
				this.setQty = item.quantity;
				this.existCart = true;
				this.$emit("updateCartLists");
			}else{
				this.setQty = 0;
				this.existCart = false;
			}
		},
		setValueQtyMin()
		{
			if(this.setQty > 0){
				this.setQty--;
			}
		},
		setValueQtyPlus()
		{
			let getData = this.product.option_product_detail;
			let findData = getData.filter(product => {
				if(product.id == this.chooseProduct){
					if(this.setQty < product.stock){
						this.setQty++;
					}
				}
			});
		},
		onSlideStart(slide) {
        this.sliding = true;
        },
        onSlideEnd(slide) {
        this.sliding = false;
		},
    }
}
</script>
